* {
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 0;
    margin: 0;

    background-color: #FEFEFE;
}

main {
    padding: 30px 50px;
}

main h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2.3rem;
	font-weight: lighter;
	color: #444;
}

main h2 {
    margin-bottom: 15px;

    font-weight: 600;
    color: #444;
}

main h2 > a,
main h2 > a i {
    color: #444;
    text-decoration: none;
    transition: color 0.1s;
}
main h2 > a:hover,
main h2 > a:hover i {
    color: #666;
    transition: color 0.1s;
}

main h2 span {
    font-weight: lighter;
    color: #777;
}

main h2 i {
    margin-top: 0.2em;
    vertical-align: top;
    color: #444;
}

main h3 {
    margin-bottom: 10px;

    font-weight: 600;
    color: #444;
}

p.form-help-text {
    font-size: 0.9rem;
    font-style: italic;
    color: #666;
}

form p {
    margin: 10px 0;
}


ul#station-list {
    padding: 0;
    list-style: none;
}

ul#station-list li {
    margin-bottom: 5px;
}

ul#station-list li a {
    color: #444;
    transition: color 0.1s;
}
ul#station-list li a:hover {
    color: #666;
    transition: color 0.1s;
}


div.data-charts {
    box-sizing: border-box;
    padding: 10px;

    border: 1px solid #EEE;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    font-size: 0;
}

div.data-charts a.data-chart {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 33.3%;
    height: 0;
    padding-top: 24.975%;

    opacity: 0.7;
    background-position: center;
    background-size: 100% 100%;

    font-size: 1rem;

    transition: opacity 0.1s;
}
div.data-charts a.data-chart:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

div.data-charts a.data-chart h3 {
    position: absolute;
    top: 5px; left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 3;

    text-align: center;
}


/* FORM STUFF */

button {
    padding: 10px;
    box-sizing: border-box;

    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    background-color: #E6E6E6;

    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;

    outline: none;
}
button:focus {
    border: 2px solid #3498db;
}

form > p > input[type='text'] {
    margin: 3px 0.3rem;

    padding: 5px 8px;
    min-width: 230px;

    border-radius: 2px;
    border: 2px solid #CCC;

    font-size: 1rem;
    color: #555;
}
form > p > input[type='text'].active,
form > p > input[type='text']:focus {
    border-color: #3498db;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

select {
    margin: 3px 0.3rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 4px 30px 4px 12px;
    border: 2px solid #CCC;
    font-size: 0.95rem;
}

/*noinspection CssUnknownTarget*/
select {
    background: url('/static/climate_exporter/arrow_drop_down.png') no-repeat 98% 50%;
    background-size: 18px 18px;
    background-blend-mode: screen;
}
select:focus {
    border-color: #3498db;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}
