{% extends "generic_base.html" %}
{% load static %}

{% block title %}{{ station.name }} | Climate Data Manager{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "climate_manager/style.css" %}">

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

        }, false);
    </script>
{% endblock %}

{% block content %}
    <h1>QUBS Climate Data Manager</h1>
    <h2>
        <a href="{% url 'index' %}"><i class="material-icons">home</i></a>
        <i class="material-icons">arrow_forward</i>
        {{ station.name }} <span>({{ station.goes_id }})</span>
    </h2>

    <h3>Log Upload</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ log_upload_form.log.errors }}{{ log_upload_form.log }}</p>
        <button type="submit">Upload</button>
    </form>

    <h3>Sensors</h3>
    <div class="data-charts">
        {% for data_type in station_data_types %}
            <a class="data-chart" href="{% url 'station__data_type' station.id data_type.short_name %}"
               style="background-image: url('{% url 'station__data_type__chart' station.id data_type.short_name %}');">
                <h3>{{ data_type.name }}</h3>
            </a>
        {% endfor %}
    </div>
{% endblock %}
