* {
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;

    background-color: #FEFEFE;
}


/* COMMON ELEMENTS */

main {
    padding: 30px 50px;
}

main h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2.3rem;
	font-weight: lighter;
	color: #444;
}

main h2 {
    margin: 15px 0;

    font-weight: 600;
    color: #444;
}

main h3 {
    margin-bottom: 10px;

    font-weight: 600;
    color: #444;
}

ul.messages {
    margin: 15px 0;
    padding: 0;

    list-style: none;
}

ul.messages li {
    padding: 15px 20px;
    border-radius: 2px;

    background-color: #F3F3F3;
    color: #444;
}
ul.messages li.info {
    background-color: #BBDEFB;
    color: #37474F;
}
ul.messages li.success {
    background-color: #CDDC39;
    color: #444;
}
ul.messages li.warning {
    background-color: #FF8F00;
    color: #FFFCF0;
}
ul.messages li.error {
    background-color: #E53935;
    color: #FFFBFE;
}


/* FORMS */

form p {
    margin: 8px 0;
    color: #333;
}

form > p > input[type="text"],
form td > input[type="text"],
form td > input[type="password"] {
    margin: 3px 0.3rem;
    padding: 7px 8px;
    min-width: 230px;

    border-radius: 2px;
    border: 2px solid #CCC;

    font-size: 1rem;
    color: #555;

    outline: none;
}
form > p > input[type="text"].active,
form > p > input[type="text"]:focus,
form td > input[type="text"].active,
form td > input[type="text"]:focus,
form td > input[type="password"].active,
form td > input[type="password"]:focus {
    border-color: #3498db;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

form button[type="submit"],
form input[type="submit"] {
    margin-top: 10px;
}

button,
input[type="button"],
input[type="submit"] {
    padding: 10px;
    box-sizing: border-box;

    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    background-color: #E6E6E6;

    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;

    outline: none;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    border: 2px solid #3498db;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 4px 30px 4px 12px;
    border: 2px solid #CCC;
    font-size: 0.95rem;
}

form > p > select {
    margin: 3px 0.3rem;
}

/*noinspection CssUnknownTarget*/
select {
    background: url("/static/arrow_drop_down.png") no-repeat 98% 50%;
    background-size: 18px 18px;
    background-blend-mode: screen;
}
select:focus {
    border-color: #3498db;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}
